@import '../_variables.scss';

.contact-section {
  padding: 4rem 0;
  background-color: $background;
  color: $text;
  text-align: center;

  .section-title {
    font-family: $font-primary;
    font-size: 3rem;
    color: $text;
    margin-bottom: 2rem;
  }

  .contact-text {
    font-family: $font-secondary;
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 2rem auto;
  }

          .contact-links {

            display: flex;

            justify-content: center;

            gap: 2rem;

            margin-top: 2rem;

            flex-wrap: wrap; // Allow wrapping on smaller screens

      

            .contact-link-item {

              display: flex;

              flex-direction: column;

              align-items: center;

              text-decoration: none;

              color: $text;

              transition: transform 0.3s ease, color 0.3s ease;

              padding: 1rem;

      

              .contact-icon {

                font-size: 3rem; // Use font-size to control icon size

                margin-bottom: 0.5rem;

              }

      

              span {

                font-family: $font-secondary;

                font-weight: bold;

              }

      

              &:hover {

                transform: translateY(-5px);

                color: $primary;

              }

            }

          }}
